*{
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
}

.accordion-item{
    padding: 20px;
    background-color: transparent;

    font-size: 20px;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dropdown-item{
    color: black;
    font-weight: bold;
}

.dropdown-item:hover{
    box-shadow: 3px 2px 5px 2px rgb(189, 174, 92);
    border-radius: 15px;
    color: black;
   
}

.accordion-button{
    color: black;
    border-radius: 100%;
    font-size: large;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 3px 3px 4px 3px rgb(164, 194, 233);
}

#con-2{
    margin-top: 100px;
}

h1{
    font-size: 35px;
/* font-weight: bold; */
font-family: algerian;
letter-spacing: 2px;
margin-left: 20px;

}

/* navbar start */
      
.navbar{
    width: 100%;
    z-index: 1;
}

.navbar-brand img{
          width: 200px;
          height: auto;
  }

.nav-item{
    padding: 10px;

}

.nav-link{
    font-size: large;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-style: italic; */
  }

.nav-link:hover{
    color: rgb(216, 177, 68);
}

.dropdown-menu{
    background-color:transparent;
    width: 230px;
    border: none;
}



/* navbar end */


/* footer start */
.text-center{
    width: 100%;
    margin-top: 80px;
}

.bg-light{
    box-shadow: 0px 5px 15px 10px rgb(90, 156, 201);
}

.text-center{
      background-color: #0082ca;
}

/* navbar end */