p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    text-align: justify;
    margin-top: 30px;
}

h1{
    font-size: 35px;
    font-family: algerian;
    color: rgb(87, 87, 241);
    /* font-weight: bold; */
    letter-spacing: 2px;
}

body{
    background-color: beige;
}

#con-2{
    margin-top: 150px;
}

/* navbar start */
      
.navbar{
    width: 100%;
}

.navbar-brand img{
          width: 200px;
          height: auto;
  }

.nav-item{
    padding: 10px;

}

.nav-link{
    font-size: large;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-style: italic; */
  }

.nav-link:hover{
    color: rgb(216, 177, 68);
}

.dropdown-menu{
    background-color:transparent;
    width: 230px;
    border: none;
}

.dropdown-item{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}
.dropdown-item:hover{
    box-shadow: 3px 2px 5px 2px rgb(189, 174, 92);
    border-radius: 15px;
    color: rgb(216, 177, 68);
}

/* navbar end */

/* footer start */
.text-center{
    width: 100%;
    margin-top: 80px;
}

.bg-light{
    box-shadow: 0px 5px 15px 10px rgb(90, 156, 201);
}

.text-center{
      background-color: #0082ca;
}

/* navbar end */